<h2>Add Comment!</h1>
<form method="POST" action="/">
  <p>Your Name: <input type="text" name="name"></p>
  <p>Comment:</p>
  <textarea name="comment" rows=4 cols=50 >Enter comment here!</textarea>
  <br>
  <input type="submit">
</form>

