<h2>Comment</h2>
<%  if defined?(name) && !name.empty?%>
 <p> Name: <%= name%> </p>
 <p> Comment: <%= comment%> </p>
 <p> Time: <%= Time.now%> </p>
 <% end	%>
 <br>
 <p><b>Go to the comment page to add new comment</b></p>

